<a href="https://colab.research.google.com/github/Raju-mia-RK/Raju/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create variables for your name, age, and favorite color
name='Raju mia'
age=24
favorite_color="Black"
print(name)
print(age)
print(favorite_color)

Raju mia
24
Black

In [2]:
#  Create one variable of each type
naem="Raju mia"
age=24
value=25.6
is_student=True
print(type(name))
print(type(age))
print(type(value))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [3]:
#  Calculate the area and perimeter of a rectangle with length 7 and width 5.
length=7
width=5
area=length*width
perimeter=2*(length+width)
print("Area: ",area)
print("Perimeter: ",perimeter)

Area:  35
Perimeter:  24

In [4]:
#  Create a list of 5 Bangladeshi foods, then access the first and last elements.

food=["Kacchi Biryani","Fuchka","Shorshe ilish","Beef kala Bhuna","Bhuna Khichuri"]
print(food[0])
print(food[-1])

Kacchi Biryani
Bhuna Khichuri

In [8]:
# Create a list of 5 numbers, add a new number, remove one, and then sort the list.

number=[55,35,45,25,15]
number.append(30);
print(number)
poped=number.pop()
print(number)
number.sort()
print(number)

[55, 35, 45, 25, 15, 30]
[55, 35, 45, 25, 15]
[15, 25, 35, 45, 55]

In [9]:
#  Create a dictionary about yourself with at least 4 key-value pairs.
myself={
    "name":"Raju mia",
    "age":24,
    "University":"Dhaka University of Engineering & Techonology,Gazipur",
    "Skill":['C',"C++","Python","SQL"]
}
print(myself)

{'name': 'Raju mia', 'age': 24, 'University': 'Dhaka University of Engineering & Techonology,Gazipur', 'Skill': ['C', 'C++', 'Python', 'SQL']}

In [12]:
#  Create a tuple with the latitude and longitude of a famous place in Bangladesh.
Dhaka=(23.7193, 90.3877)
Sundarbans=(21.45, 89.02)
print(Dhaka)
print(Sundarbans)

(23.7193, 90.3877)
(21.45, 89.02)

In [15]:
#  Create two sets of colors and find their union and intersection.
c1={'red','blue','black','green'}
c2={'pink','blue','white','green'}
all_color=c1|c2
print(all_color)
common=c1&c2
print(common)

{'blue', 'green', 'red', 'pink', 'white', 'black'}
{'green', 'blue'}

In [17]:
#  Write a Python function that takes a string as input and prints the first and last character of the string.

def name():
  value=input("Enter your name: ")
  print(value[0])
  print(value[-1])

name()

Enter your name: raju
r
u

In [19]:
#  Write a Python function that takes a string and converts it to uppercase.
def convert(name):
  print(name.upper())
name=input("Enter your name: ")
convert(name)

Enter your name: raju
RAJU